CONFIG_CDK2_PAYLOAD=y
CONFIG_CDK2_PCI=y
CONFIG_CDK2_STORAGE=y
CONFIG_CDK2_CONSOLE=y
CONFIG_CDK2_GRAPHICS=y
# CONFIG_CDK2_SETUP_UI is not set
CONFIG_CDK2_LVGL=n
CONFIG_CDK2_ESRT=y
CONFIG_CDK2_LATE_LINK=y
CONFIG_CDK2_NATIVE_STAGE=y
CONFIG_CDK2_BUILD_DEBUG=n
CONFIG_CDK2_SMMSTORE=y
CONFIG_CDK2_SMM=y
CONFIG_CDK2_CAPSULE=n
CONFIG_CDK2_SECURE_BOOT=n
CONFIG_CDK2_SHELL=y
CONFIG_CDK2_NVME=y
CONFIG_CDK2_USB=y
CONFIG_CDK2_ATA=y
CONFIG_CDK2_SD=y
CONFIG_CDK2_PS2_MOUSE=y
CONFIG_CDK2_PS2_KEYBOARD=n
CONFIG_CDK2_SERIAL=n
CONFIG_CDK2_CBMEM_CONSOLE=n
CONFIG_CDK2_CBMEM_TIMESTAMPS=n
CONFIG_CDK2_BOOT_TIMEOUT=0
CONFIG_CDK2_TPM12=y
CONFIG_CDK2_TPM2=y
CONFIG_CDK2_CPU_TIMER=n
