## SPDX-License-Identifier: BSD-2-Clause-Patent

CONFIG_CDK2_PAYLOAD=y
CONFIG_CDK2_CONNECT_ALL_DEVICES=y
CONFIG_CDK2_LINUX_EFI_APPLICATION=y
CONFIG_CDK2_LINUX_EFI_APPLICATION_PATH="\\EFI\\Linux\\bzImage.efi"
CONFIG_CDK2_LINUX_EFI_APPLICATION_DESCRIPTION="Q35 Linux EFI"
CONFIG_CDK2_BOOT_TIMEOUT=1
