CONFIG_CDK2_PAYLOAD=y
CONFIG_CDK2_PCI=y
CONFIG_CDK2_STORAGE=y
CONFIG_CDK2_CONSOLE=y
CONFIG_CDK2_GRAPHICS=y
CONFIG_CDK2_SETUP_UI=y
CONFIG_CDK2_LVGL_RENDERER=n
CONFIG_CDK2_ESRT=y
CONFIG_CDK2_NATIVE_PCD=y
CONFIG_CDK2_NATIVE_DEVICE_PATH=y
CONFIG_CDK2_LATE_LINK=y
CONFIG_CDK2_NATIVE_STAGE=y
CONFIG_CDK2_NATIVE_SECURITY_STUB=y
CONFIG_CDK2_NULL_MEMORY_TEST=y
CONFIG_CDK2_NATIVE_WATCHDOG=y
CONFIG_CDK2_NATIVE_MONOTONIC_COUNTER=y
CONFIG_CDK2_NATIVE_STATUS_CODE_ROUTER=y
CONFIG_CDK2_NATIVE_CPU_IO2=y
CONFIG_CDK2_NATIVE_STATUS_CODE_HANDLER=y
CONFIG_CDK2_NATIVE_DISK_IO=y
CONFIG_CDK2_NATIVE_SERIAL_IO=y
CONFIG_CDK2_SMBIOS_MAJOR=3
CONFIG_CDK2_SMBIOS_MINOR=0
CONFIG_CDK2_SMBIOS_DOCREV=0
CONFIG_CDK2_SMBIOS_ENTRY_POINTS=0x3
CONFIG_CDK2_NATIVE_SMBIOS=y
CONFIG_CDK2_NATIVE_RESET_SYSTEM=y
CONFIG_CDK2_NATIVE_PCAT_RTC=y
CONFIG_CDK2_NATIVE_SMM_ACCESS=y
CONFIG_CDK2_NATIVE_CPU_IO2_SMM=y
CONFIG_CDK2_NATIVE_PCH_SMI_DISPATCH=y
CONFIG_CDK2_BUILD_DEBUG=n
CONFIG_CDK2_SMMSTORE=y
CONFIG_CDK2_EC_ACPI_BATTERY_PROFILE=0
CONFIG_CDK2_SMM=y
CONFIG_CDK2_CAPSULE=n
CONFIG_CDK2_CAPSULE_ON_DISK_SUPPORT=n
CONFIG_CDK2_CAPSULE_ACCEPT_EMBEDDED_DRIVERS=n
CONFIG_CDK2_CAPSULE_EMBED_FMP_DXE=n
CONFIG_CDK2_SECURE_BOOT=n
CONFIG_CDK2_SECURE_BOOT_ASSUME_SETUP_PHYSICAL_PRESENCE=n
CONFIG_CDK2_EVIL_MAID_PROTECTION=n
CONFIG_CDK2_EVIL_MAID_REQUIRE_TPM_PPI=y
CONFIG_CDK2_EVIL_MAID_SHUTDOWN_ON_FAILURE=y
CONFIG_CDK2_SHELL=y
CONFIG_CDK2_NVME=y
CONFIG_CDK2_USB=y
CONFIG_CDK2_ATA=y
CONFIG_CDK2_SD=y
CONFIG_CDK2_PS2_MOUSE=y
CONFIG_CDK2_PS2_KEYBOARD=n
CONFIG_CDK2_SERIAL=n
CONFIG_CDK2_CBMEM_CONSOLE=n
CONFIG_CDK2_CBMEM_TIMESTAMPS=n
CONFIG_CDK2_BOOT_TIMEOUT=0
CONFIG_CDK2_TPM2=y
CONFIG_CDK2_CPU_TIMER=n
CONFIG_CDK2_MAX_LOGICAL_PROCESSORS=1024
